@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css');
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #eeeeee;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar a:hover {
    color: #1c87c9;
  }
  
  .container {
    padding: 18px;
    margin-top: 35px;
    height: 2000px;
  }

  .container-sm{
    align-items: center;
    
  }


  #prime {
    background-color: whitesmoke;
   marg
    
  }