{% extends 'index.html' %}

{% block content %}
{% comment %} <div class="position-absolute top-50 start-50 translate-middle" id="prime">
    <div class="container-sm" >
        <form action="" method="get">
          
            <div class="form-group">
                <label for="prime_number">Enter Prime Number</label>
                <input type="Number" class="form-control" id="prime_num" aria-describedby="PrimeNumber" placeholder="Enter Prime Number">
                <small id="emailHelp" class="form-text text-muted">We'll calculate no. of unique digits of the prime reciprocal.</small>
            </div>
            <div class="form-group">
                <label for="unique_digits">Unique Decimal Digits</label>
                <textarea class="form-control" id="unique_digits" placeholder="Result"> </textarea>
            </div><br>
            
            <input type="submit" class="form-control" id="get_count" value="Get Count" >
            </div>
        </form>

    </div>
</div> {% endcomment %}


<div class="position-absolute top-50 start-50 translate-middle" id="prime">
    <div class="container-sm" >
        <div class="form-group">
            <form action = "" method = "post">
                {% csrf_token %}
                <label for="prime_number">Prime Number: </label>
                <input id="prime_number" type="number" name="prime_num" class="form-control">
                <label for="digits">Unique Digit Count: </label>
                <input id="digits" type="number" name="digits" class="form-control" disabled=true value = {{ value }}><br>
                <input type="submit" value="Get Count" class="form-control">
            </form>
        </div>
    </div>
</div>

{% endblock %}